/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap/bootstrap";
@import "bootflat/bootflat";

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-color: #f7f6f6;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}


@import "custom";

@import "pages/homepage";
@import "pages/dashboard";