.form-wrap {
  margin: 0 35%;
  padding-top: 100px;
  
  form {
    padding: 30px;
    background-color: $white;
  }

  .form-group {
    position: relative; 

    .tooltip {
      right: 0;
    }
  }
}
