.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  z-index: 2000;
  // background-color: rgba(255,255,255,.9);

  // .navbar-header {
  //   a {
  //     display: block;
  //     color: #50c1e9;
  //     &:hover {
  //       color: #50c1e9;
  //     }
  //     &:focus {
  //       color: #50c1e9;
  //     }
  //   }
  // }

  // .nav {
  //   li {
  //     a {
  //       display: block;
  //       color: #50c1e9;
  //       &:hover {
  //         color: #50c1e9;
  //       }
  //       &:focus {
  //         color: #50c1e9;
  //       }
  //     }
  //   }
  // }
}

#form-signout {
	display: none;
}