{{> header}}

<div id="main" class="main">
<div id="notification" class="notification">
</div>
<div id="sidebar" class="sidebar">
	<div class="tabbable tabs-left clearfix">
		<ul class="nav nav-tabs">
      <li><a href="#mytasks">我的任务</a></li>
      <li><a href="#calendar">日历</a></li>
      <li class="dropdown-block">
	      <a href="javascript:void(0);" id="team-chosen" class="dropdown-toggle" data-toggle="dropdown">
				  <span></span>
				  <b class="caret"></b>
				</a>
				<ul id="team-list" class="dropdown-menu" role="menu">
				  <li id="team-new"><a href="javascript:void(0);">新建团队</a></li>
				  <li class="divider"></li>
				  <li id="team-0" data-id="0" data-name="私人项目"><a href="#team-0">私人项目</a></li>
				</ul>
      </li>
    </ul>
	</div>

	<div class="tabs-expand">
		<div class="header">项目列表<a id="proj-new" class="proj-new" href="javascript:void(0);">添加项目</a></div>
		<ul id="proj-list">
		</ul>
	</div>
</div>

<div id="board" class="board">
</div>

<div id="modal" class="modal"></div>
</div>