{{> header}}

<div class="main" id="main">
<div class="sidebar">
	<div class="tabbable tabs-left clearfix">
		<ul id="myTab1" class="nav nav-tabs">
      <li class="dropdown dropdown-block">
      	<a href="#" id="myTabDrop1-1" class="dropdown-toggle" data-toggle="dropdown">
      		私人空间<b class="caret"></b>
      	</a>
      	<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
          <li><a href="#dropdown1-1" tabindex="-1" data-toggle="tab">新建团队</a></li>
          <li class="divider"></li>
          <li><a href="#dropdown1-2" tabindex="-1" data-toggle="tab">私人空间</a></li>
        </ul>
      </li>
      <li><a href="#profile3" data-toggle="tab">Profile</a></li>
      <li><a href="#myTabDrop3" data-toggle="tab">Dropdown</a></li>
    </ul>
	</div>

	<div class="proj-panel">
		<ul class="proj-list">
			<li class="proj">
				<ul class="sub-proj-list">
					<li class="sub-proj"></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="board">
	施工中
</div>
</div>