{{> header}}

<div id="main" class="main">
<div id="sidebar" class="sidebar">
	<div class="tabbable tabs-left clearfix">
		<ul class="nav nav-tabs">
      <li class="dropdown dropdown-block">
        <a href="#" id="team-selected" class="dropdown-toggle" data-toggle="dropdown">
         	<span>私人空间</span>
         	<b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#team-new">新建团队</a></li>
          <li class="divider"></li>
          <li><a href="#" tabindex="-1">私人项目</a></li>
        </ul>
      </li>
      <li><a href="#profile3">Profile</a></li>
      <li><a href="#myTabDrop3">Dropdown</a></li>
    </ul>
	</div>

	<div class="proj-panel">
		<ul class="proj-list">
			<li class="proj">
				<ul class="sub-proj-list">
					<li class="sub-proj"></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="board" class="board">
</div>
</div>