<a href="#" id="team-selected" class="dropdown-toggle" data-toggle="dropdown">
  <span>{{ cur }}</span>
  <b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu">
  <li id="team-new"><a href="#">新建团队</a></li>
  <li class="divider"></li>
  <li class="list-item"><a href="#" >私人项目</a></li>
  {{#if teams.length }}
    <li class="divider"></li>
    {{#each teams}}
      <li class="list-item"><a href="#" >{{ name }}</a></li>
    {{/each }}
  {{/if }}
</ul>