/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-color: #f7f6f6;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  z-index: 2000;
}

#form-signout {
  display: none;
}

.dropdown-block .dropdown-toggle {
  text-align: center;
}
.dropdown-block .dropdown-toggle b {
  text-align: right;
}
.dropdown-block .dropdown-menu {
  width: 100%;
}

.form-wrap {
  margin: 0 35%;
  padding-top: 100px;
}
.form-wrap form {
  padding: 30px;
  background-color: #fff;
}
.form-wrap .form-group {
  position: relative;
}
.form-wrap .form-group .tooltip {
  right: 0;
}

.tooltip {
  opacity: 1;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #656D78;
}
.tooltip .tooltip-inner {
  background-color: #656D78;
}

.landing {
  max-height: 100%;
  overflow: hidden;
}
.landing img {
  width: 100%;
}
.landing .board {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 25%;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.8);
}
.landing .board h1 {
  margin-top: 0;
}

.main {
  padding-top: 50px;
  zoom: 1;
  overflow: auto;
  height: 100%;
}
.main .sidebar, .main .board {
  position: relative;
  float: left;
  height: 100%;
}
.main .sidebar {
  width: 20%;
}
.main .sidebar .nav {
  width: 100%;
}
.main .board {
  width: 80%;
  padding: 20px;
  background: #fff;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}
