/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background-color: #f7f6f6;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  z-index: 2000;
}

#form-signout {
  display: none;
}

.form-wrap {
  margin: 0 35%;
  padding-top: 100px;
}
.form-wrap form {
  padding: 30px;
  background-color: #fff;
}
.form-wrap .form-group {
  position: relative;
}
.form-wrap .form-group .tooltip {
  right: 0;
}

.tooltip {
  opacity: 1;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #656D78;
}
.tooltip .tooltip-inner {
  background-color: #656D78;
}

.landing {
  max-height: 100%;
  overflow: hidden;
}
.landing img {
  width: 100%;
}
.landing .board {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 25%;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.8);
}
.landing .board h1 {
  margin-top: 0;
}
