<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
     <div class="cols">
      <div class="panel">
        <div class="title">
          <img class="avatar" src="{{ avatar }}" alt="{{ nickname }}">
          <p class="name">{{ nickname }}</p>
        </div>
        <div class="overview">
          <h5>最近一周</h5>
          <div>
            <span>接受的任务</span>
            <span>1</span>
            <span>已完成的任务</span>
            <span>1</span>
            <span>未完成的任务</span>
            <span>1</span>
            <span>过期任务</span>
            <span>1</span>
          </div>
        </div>
        <div class="analysis">
          <h5>统计</h5>
          <div class="chart"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>