<input class="complete" type="checkbox" {{#if check_at }}checked="checked"{{/if}}>
<div class="content">{{ content }}</div>
<div class="actions">
	{{!-- <a data-action="edit">编辑</a> --}}
	<a data-action="delete">删除</a>
</div>