<a>新建任务</a>
<div class="task-new hide">
  <input name="name" placeholder="新建任务">
  <button class="btn btn-success" data-action="create">创建</button>
  <button class="btn btn-default" data-action="cancel">取消</button>
</div>