<div class="cols">
  <div class="large-cols">
    <div class="title"></div>
    <ul class="nav nav-tabs nav-justified">
      <li data-index="checkitem">检查项</li>
      <li data-index="comment">评论</li>
      <li data-index="history">历史</li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" data-index="checkitem"></div>
      <div class="tab-pane" data-index="comment">
        <ul class="comments"></ul>
        <div>
          <textarea name="content"></textarea>
          <button class="btn btn-success">发表评论</button>
        </div>
      </div>
      <div class="tab-pane" data-index="history"></div>
    </div>
  </div>
  <div class="small-cols">
    <ul class="assignment"></ul>
  </div>
</div>