<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body task">
     <div class="cols">
      <div class="large-col panel">
        <div class="title">
          <input class="complete" type="checkbox" {{#if complete_at }}checked="checked"{{/if}}>
          <span>{{ name }}</span>
        </div>
        <div class="due">
          <span class="time">{{ due_time }}</span>
          <a class="set-due">设置日期</a>
          <div class="datepanel hide">
            <div class="datepicker"></div>
            <button class="btn btn-default btn-cancel btn-block">取消设置</button>
          </div>
        </div>
        <ul class="nav nav-tabs nav-justified">
          <li class="tab" data-index="checkitem">检查项</li>
          <li class="tab" data-index="subtask">子项目</li>
          <li class="tab" data-index="comment">评论</li>
          {{!-- <li class="tab" data-index="history">历史</li> --}}
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" data-index="checkitem"></div>
          <div class="tab-pane" data-index="subtask"></div>
          <div class="tab-pane" data-index="comment"></div>
          <div class="tab-pane" data-index="history"></div>
        </div>
      </div>
      <div class="small-col">
      </div>
    </div>
    </div>
  </div>
</div>