<a>新建任务板</a>
<div class="taskboard-new hide">
  <input name="name" placeholder="新建任务板">
  <button class="btn btn-success" data-action="create">创建</button>
  <button class="btn btn-default" data-action="cancel">取消</button>
</div>