<div class="header">
  <div class="title">我的任务</div>
  <div class="tabs">
    <div class="tab active" data-index="incomplete">未完成</div>
    <div class="tab" data-index="complete">已完成</div>
    <div class="tab" data-index="overdue">已过期</div>
  </div>
</div>

<div class="wrap">
<div class="panel active" data-index="incomplete">
  <ul class="task-list"></ul>
</div>
<div class="panel" data-index="complete">
  <ul class="task-list"></ul>
</div>
<div class="panel" data-index="overdue">
  <ul class="task-list"></ul>
</div>
</div>