<ul class="user-list">
  <li class="invite-button">
    <p class="nickname"></p>
    <a>分配成员</a>
  </li>
</ul>
<div class="invite">
  <a class="invite-close">完成</a>
  <ul class="invite-list">
  </ul>
</div>