$bg-grey: #f3f3f3;

.main {
  padding-top: 50px;
  zoom: 1;
  overflow: hidden;
  height: 100%;

  .notification {
    position: fixed;
    top: 56px;
    width: 100%;
    height: 0;
    padding: 0;
    text-align: center;
    z-index: 9999;

    .alert {
      display: inline-block;
      padding: 10px 20px;
      z-index: 9999;
    }
  }

  .sidebar, .board {
    position: relative;
    float: left;
    height: 100%;
  }

  .sidebar {
    width: 20%;

    .nav {
      width: 100%;
    }

    .dropdown-menu {
      overflow: auto;
      max-height: 400px;
    }

    .tabs-expand {
      overflow: auto;
      width: 100%;
      .header {
        padding: 10px;
        .proj-new {
          float: right;
        }
      }
      &>ul {
        &>li {
          a {
            display: block;
            padding: 10px;
          }
          ul {
            display: none;
            li {
              a {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }



  .board {
    width: 80%;
    background: #fff;
    
    &>.header {
      padding: 10px 20px;
      border-bottom: 1px solid #eee;
      overflow: hidden;
      .title {
        float: left;
        font-size: 25px;
      }

      .tabs {
        position: relative;
        float: right;
        .tab {
          display: inline-block;
          height: 36px;
          line-height: 36px;
          font-size: 16px;
          padding: 0 30px;
          &:hover {
            cursor: pointer;
          }
          &.active {
            background-color: $bg-grey;
            cursor: default;
          }
        }
      }
    }

    &>.wrap {
      height: 100%;
      margin-top: -57px;
      padding-top: 57px;
    }

    .panel {
      display: none;
      margin: 0;
      padding: 0 20px;
      height: 100%;

      &.active {
        display: block;
      }

      .header {
        border-bottom: 1px solid #eee;
        padding: 10px 20px;

        .title {
          display: inline-block;
          font-size: 16px;
        }

        .right {
          display: inline-block;
          margin-left: 10px;
        }
      }

      .cols {
        overflow: hidden;
        .large-col {
          width: 70%;
          padding: 0 10px;
          float: left;
        }

        .small-col {
          width: 30%;
          padding: 0 10px;
          float: left;
        }
      }

      .member-list {
        margin-top: 10px;
        overflow: hidden;
        li {
          float: left;
          padding: 10px 20px;
          text-align: center;
          
          &:hover {
            cursor: pointer;
            background: $bg-grey;
          }

          .avatar {
            width: 72px;
            height: 72px;
            border-radius: 5px;
          }

          .name {
            padding: 5px 0;
            margin: 0;
          }
        }
      }

      .projs-list {

      }

      .settings {

      }
    }
  }
}