$bg-grey: #f3f3f3;

.main {
  padding-top: 50px;
  zoom: 1;
  overflow: hidden;
  height: 100%;

  .notification {
    position: fixed;
    top: 56px;
    width: 100%;
    height: 0;
    padding: 0;
    text-align: center;
    z-index: 10000;

    .alert {
      display: inline-block;
      padding: 10px 20px;
    }
  }

  .sidebar, .board {
    position: relative;
    float: left;
    height: 100%;
  }

  .sidebar {
    width: 20%;

    .nav {
      width: 100%;
    }

    .dropdown-menu {
      overflow: auto;
      max-height: 400px;
    }

    .tabs-expand {
      overflow: auto;
      width: 100%;
      .header {
        padding: 10px;
        .proj-new {
          float: right;
        }
      }
      &>ul {
        &>li {
          a {
            display: block;
            padding: 10px;
            &:hover {
              background: $bg-grey;
            }
            &.active {
              background: $bg-grey;
            }
          }
          ul {
            display: none;
            li {
              a {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }



  .board {
    $header-height: 36px;
    width: 80%;
    background: #fff;
    &>.header {
      padding: 10px 20px;
      border-bottom: 1px solid #eee;
      @include clearfix;

      .title {
        float: left;
        font-size: 25px;
      }

      .subtitle {
        display: inline-block;
        margin-left: 10px;
        height: $header-height;
        line-height: $header-height;
      }

      .tabs {
        position: relative;
        float: right;
        .tab {
          display: inline-block;
          height: $header-height;
          line-height: $header-height;
          font-size: 16px;
          padding: 0 30px;
          &:hover {
            cursor: pointer;
          }
          &.active {
            background-color: $bg-grey;
            cursor: default;
          }
        }
      }
    }

    &>.wrap {
      height: 100%;
      margin-top: -57px;
      padding-top: 57px;
    }

    .panel {
      display: none;
      margin: 0;
      padding: 0 20px;
      height: 100%;

      &.active {
        display: block;
      }

      .header {
        border-bottom: 1px solid #eee;
        padding: 10px 20px;

        .title {
          display: inline-block;
          font-size: 16px;
        }

        .right {
          display: inline-block;
          margin-left: 10px;
        }
      }

      .cols {
        height: 100%;
      }
      .content {
        overflow-x: auto;
        height: 100%;
      }

      

      .member-list {
        margin-top: 10px;
        overflow: hidden;
        li {
          float: left;
          padding: 10px 20px;
          text-align: center;
          
          &:hover {
            cursor: pointer;
            background: $bg-grey;
          }

          .avatar {
            width: 72px;
            height: 72px;
            border-radius: 5px;
          }

          .name {
            padding: 5px 0;
            margin: 0;
          }
        }
      }

      .projs-list {
        li {
          a {
            display: block;
            padding: 10px 20px;
            border-bottom: 1px solid #eee;

            &:hover {
              background: $bg-grey;
            }
          }
        }
      }

      .taskboard-list {
        overflow-x: auto;
        
        >li {
          display: inline-block;
          width: 180px;
          margin: 0 10px;
          text-align: center;
          vertical-align: top;
        }

        .task-list {
          >li {
            text-align: left;
            word-wrap: break-word;
            word-break: break-all;
          }

          .task-add {
            text-align: center;
          }
        }
      }

      .settings {

      }
    }
  }
}

.task {
  .checkitems {
    >li {
      .content {
        display: inline-block;
      }

      .actions {
        display: none;
      }

      &:hover {
        .actions {
          display: inline-block;
        }
      }
    }
  }

  .user {
    .assign {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: 1px solid #eee;
      &.active {
        background: #5cb85c;
      }
    }

    .avatar {
      width: 36px;
      height: 36px;
      border-radius: 5px;
    }
    .nickname {
      text-align: center;
    }
  }

  .invite {
    display: none;
  }
}

#calendar {
  height: 100%;
  overflow-y: auto;
}