<div class="header">
  <div class="title">{{ name }}</div>
  <div class="dropdown subtitle">
    <span>子项目：</span>
    <a id="subproj-select" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
      <span></span>
      <b class="caret"></b>
    </a>
    <ul id="subproj-list" class="dropdown-menu" role="menu">
      <li><a class="subproj-new" href="javascript:void(0);">新建子项目</a></li>
    </ul>
  </div>
  <div class="tabs">
    <div class="tab active" data-index="tasks">任务</div>
    <div class="tab" data-index="settings">设置</div>
  </div>
</div>

<div class="wrap">
<div class="panel active" data-index="tasks">
</div>
<div class="panel" data-index="settings">
</div>
</div>